#lion_icon {
  width: 30px;
  height: 30px;
  transform: scale(1.6, 1.6);
}

/*Navbar*/
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

body {
  font-size: .875rem;
}

#sidebar1 {
  height: 100%;

}

#sidebar1-container {
  display: none;

}
@media (min-width: 576px) {
  #sidebar1 {
    height: 100vh;
  }
  #sidebar1-container {
    border-right: 1px solid darkGrey;
  }
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*login page*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10% 15px;
  margin: auto;
  height: 100vh;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* footer */
@keyframes rot1 {
  0%   {transform: rotate(0deg) scale(1.3, 1.3);}
  33%  {transform: rotate(120deg) scale(1.3, 1.3);}
  67%  {transform: rotate(240deg) scale(1.3, 1.3);}
  100% {transform: rotate(360deg) scale(1.3, 1.3);}
}
#k_icon {
  width: 20px;
  height: 20px;
  animation-name: rot1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#foot {
  color: rgb(0, 250, 245);

}
#foot:link {
  text-decoration: none;
  color: white;
}
#foot:visited {
  text-decoration: none;
  color: rgb(0, 123, 255);
}
#foot:hover {
  color: red;
}
